[submodule "Evoke/ThirdParty/spdlog"]
	path = Evoke/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Evoke/ThirdParty/GLFW"]
	path = Evoke/ThirdParty/GLFW
	url = https://github.com/glfw/glfw
[submodule "Evoke/ThirdParty/ImGui"]
	path = Evoke/ThirdParty/ImGui
	url = https://github.com/ocornut/imgui
[submodule "Evoke/ThirdParty/GLM"]
	path = Evoke/ThirdParty/GLM
	url = https://github.com/g-truc/glm
[submodule "Evoke/ThirdParty/EFSW"]
	path = Evoke/ThirdParty/EFSW
	url = https://github.com/SpartanJ/efsw
