[submodule "Evoke/ThirdParty/spdlog"]
	path = Evoke/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Evoke/ThirdParty/GLFW"]
	path = Evoke/ThirdParty/GLFW
	url = https://github.com/pramberg/glfw
[submodule "Evoke/ThirdParty/ImGui"]
	path = Evoke/ThirdParty/ImGui
	url = https://github.com/TheCherno/imgui
[submodule "Evoke/ThirdParty/GLM"]
	path = Evoke/ThirdParty/GLM
	url = https://github.com/g-truc/glm
