.vs
*.sln
*.vcxproj*
Intermediate/*
Binaries/*

# Temporary...
Evoke/ThirdParty/SDL/*
!Evoke/ThirdParty/SDL/VisualC
Evoke/ThirdParty/SDL/VisualC/*
!Evoke/ThirdParty/SDL/VisualC/x64/
Evoke/ThirdParty/SDL/VisualC/x64/*
!Evoke/ThirdParty/SDL/VisualC/x64/Release/
Evoke/ThirdParty/SDL/VisualC/x64/Release/*
!Evoke/ThirdParty/SDL/VisualC/x64/Release/*.dll
!Evoke/ThirdParty/SDL/VisualC/x64/Release/*.lib